.XpAWc {
	margin-bottom: 7rem;
	&.reverse {
		color: white;
		.seperator {
			i {
				color: white;
			}
			span {
				background-color: white;
			}
		}
	}

	h3 {
		font-size: 5.3rem;
		margin-bottom: 2rem;
		text-align: center;
		font-weight: 400;
		@media (max-width: 768px) {
			font-size: 4rem;
		}
	}
	p {
		font-size: 2.3rem;
		text-align: center;
		font-weight: 400;
		margin-bottom: 3rem;
		@media (max-width: 768px) {
			font-size: 2rem;
		}
	}
	.seperator {
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			margin: 0rem 1rem;
			font-size: 2.5rem;
			color: #81d4e3;
		}
		span {
			width: 50px;
			height: 1px;
			background-color: #81d4e3;
		}
	}
}
